* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#content-container {
  width: 60%;
  height: 100%;
  float: left;
  position: relative;
}
#content-container section {
  padding: 5%;
  background-color: #f3efe0;
}
#content-container section blockquote {
  text-align: center;
  color: #727878;
  font-size: 1.1em;
}
#content-container hr {
  border-top: 1px dotted #727878;
  margin-top: 5%;
  margin-bottom: 5%;
}

#abilities {
  background-color: white !important;
}
#contacts {
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgb(16, 117, 102) !important;
}
#contacts .title-of-section {
  color: white;
  font-size: 3em;
  width: 100%;
  display: block;
  text-align: center;
  padding: 2%;
}

#fs-frm label {
  text-align: left;
}
#fs-frm-inputs {
  display: grid;
  width: 80%;
  margin-left: 16%;
  border: none;
}
#fs-frm-inputs input, textarea {
  width: 80%;
  font-size: 1em;
  padding: 6px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  resize: none;
  outline: none;
}
#fs-frm input[type=Submit] {
  width: 60%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 1em;
  color: white;
  font-weight: 500;
  text-align: center;
  background-color: rgb(66, 147, 98);
}

#skills-container, #languages-container {
  margin-left: 100px;
  margin-top: 5%;
}

.item{
  color: rgb(74, 78, 78);
  padding: 5px;
}
.item:hover {
  background-color: rgba(0, 0, 0, .1);
  border-radius: 2px;
}
.rating {
  color: rgb(16, 117, 102);
}
.item:hover .rating {
  letter-spacing: 0.2em;
}

.title-of-section {
  color: rgb(17, 91, 119);
  font-size: 1.9em;
  font-weight: 300;
}

#side-profile {
  width: 40%;
  height: 100%;
  background-color: rgb(16, 117, 102);
  left: 60%;
}

#picture-container {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
#picture-container img {
  width: 12em;
  height: 12em;
  margin: 30px auto;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}

#personal-info {
  color: rgba(255, 255, 255, 0.7);
  line-height: 10px;
  left: 55%;
}
#personal-info p {
  font-weight: lighter;
}
#resume {
  text-align: justify;
  font-weight: lighter;
  padding: 5% 5%;
  color: white;
  font-size: 1em;
  line-height: 1.4em;
}

#scrollspy {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  color: white;
  line-height: 50px;
}
#scrollspy .active {
  background-color: rgba(16, 251, 251, 0.4);
}
.option-spy {
  cursor: pointer;
  height: 100%;
}
.option-spy:hover {
  background-color: rgba(16, 251, 251, 0.2);
}

#contact-info {
  width: 100%;
  height: 50px;
  position: absolute;
  text-align: justify;
}
#contact-info a {
  color: white;
  margin-left: 48px;
}
#contact-info img {
  height: 48px;
  width: 48px;
  margin: auto;
}

.grid {
  display: grid;
}
.grid-template-columns-2 {
  grid-template-columns: 1fr 1fr;
}
.grid-template-columns-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-template-columns-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fixed {
  position: fixed;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media (max-width: 700px) {
  #side-profile {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 70%;
  }
  #content-container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #picture-container img {
    width: 10em;
    height: 10em;
  }
}
