* {
  font-family: 'Open Sans', sans-serif
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#content-container {
  width: 60%;
  height: 100%;
  float: left;
}

#content-container section {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.title-of-section {
  color: rgb(17, 91, 119);
  font-size: 1.9em;
  font-weight: 300;
}

#educations {
  background-color: rgb(249, 239, 226);
  padding: 5%;
}

#abilities {
  background-color: rgba(17, 91, 119, 0.1);
}

#contacts {
  background-color: rgba(17, 91, 119, 0.2);
}

#side-profile {
  width: 40%;
  height: 100%;
  background-color: rgb(17, 91, 119);
  left: 60%;
}

#picture-container {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}

#picture-container img {
  width: 12em;
  height: 12em;
  margin: 30px auto;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}

#personal-info {
  color: rgba(255, 255, 255, 0.7);
  line-height: 10px;
  left: 55%;
}

#personal-info p {
  font-weight: lighter;
}

#resume {
  text-align: justify;
  font-weight: lighter;
  padding: 5% 5%;
  color: white;
  font-size: 1em;
  line-height: 1.4em;
}

#scrollspy {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  color: white;
  align-items: center;
}

#scrollspy .active {
  background-color: rgb(12, 72, 94);
}

.option-spy {
  cursor: pointer;
  height: 100%;
}

.option-spy:hover {
  background-color: rgba(7, 189, 141, 0.5);
}

#contact-info {
  width: 100%;
  height: 50px;
  position: absolute;
  text-align: justify;
}

#contact-info a {
  color: white;
  margin-left: 48px;
}

#contact-info img {
  height: 48px;
  width: 48px;
  margin: auto;
}

.grid {
  display: grid;
}
.grid-template-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fixed {
  position: fixed;
}
.bold {
  font-weight: bold;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media (max-width: 700px) {
  #side-profile {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 70%;
  }
  #content-container {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #picture-container img {
    width: 10em;
    height: 10em;
  }
}
