.heroContainer {
    width: 100%;
    height: 100vh;
}

.title {
    margin: 0;
    font-weight: normal;
    margin-top: 0.7em;
    font-size: 3.4em;
    line-height: 1.3em;
}

.profession {
    font-size: 1.2em;
    margin: 0;
    margin-top: 1em;
}

.profession svg {
    margin-right: 0.5em;
}

.briefDescription {
    margin-top: 1em;
    font-size: 1em;
}

.callToActions {
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.callToActions button {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border: none;
    padding: 1em;
    border-radius: 0.6em;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.callToActions svg { 
    margin: 0 0.2em;
}