.profession {
    font-size: 1.3em;
    margin: 0;
    margin-top: 1em;
}

.profession svg {
    margin-right: 0.5em;
}

.briefDescription {
    margin-top: 1.2em;
    font-size: 1.1em;
}

.callToActions {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

.callToActions button {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border: none;
    padding: 1em;
    border-radius: 0.6em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.callToActions svg { 
    margin: 0 0.2em;
}