.typedText {
  margin: 0;
  margin-bottom: 0.8em;
  height: 1em;
  width: auto;
}

.cursor {
  border-left: 0.1em solid #e1372cbb;
  animation: blink 0.7s steps(1) infinite;
  font-size: 0.7em;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
