.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.generalNavigation {
    display: none;
}