.Switch {
    width: 4em;
    height: 1.4em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    transition: 300ms background;
}

.slider {
    width: 2.1em;
    height: inherit;
    position: absolute;
    border-radius: 15px;
    transition: 300ms left ease-in-out;
}

.turnOption {
    height: 80%;
    display: flex;
    align-items: center;
}

.turnOptionImg {
    height: 100%;
}

.turnOptionImg:hover {
    cursor: pointer;
}

.turnOn {
    left: 0;
}

.turnOff {
    left: 2em;
}
