.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination span {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 1.25em;
    margin: 0 0.3em;
}

.pagination span:last-child {
    margin: 0;
    margin-left: 0.3em;
}