.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.logo {
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
}

.switchNavigation {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.switchNavigation li {
    margin: 0 0.5em;
}

.generalNavigation {
    display: none;
}