* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

.wrapper {
    margin-bottom: 5em;
    padding: 1.5em;
    position: absolute;
    top: 0;
}

.sectionTitle {
    font-size: 2em;
    letter-spacing: 0.05em;
    margin-top: 2em;
}