* {
    box-sizing: border-box;
    transition: all 200ms;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

.sectionTitle {
    font-size: 2em;
    letter-spacing: 0.05em;
    margin-top: 2em;
}

.anchor {
    display: block;
    position: relative;
    top: -2em;
    visibility: hidden;
}